<div class="container">
  <div class="card card-dark" style="height: fit-content">
    <div class="card-header">
      <h3 class="card-title">Mantenimiento de Categorias</h3>
    </div>

    <div class="card">
      <div class="card-body form-card-body">
        <form style="margin: 20px" (ngSubmit)= "onSubmit()" #categoriaForm = "ngForm">
          <div class="from-group">
            <label>Id Categoria</label>
            <input
              type="number"
              class="form-control"
              id="id"
              [(ngModel)]="categoria.id"
              name="id"
              minlength="1"
              placeholder="Id de Categoria"
              disabled="true"
            />
          </div>
          <div class="from-group">
            <label>Nombre de Categoria</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              [(ngModel)]="categoria.nombre"
              name="nombre"
              required
              minlength="3"
              maxlength="50"
              placeholder="Nombre de la Categoria"
              #nombre = "ngModel"
            />

            <div class="alert alert-danger" *ngIf= "nombre.invalid && (nombre.dirty || nombre.touched)">
              <div *ngIf = "nombre.errors?.['required']">
                Digite su nombre por favor
              </div>
              <div *ngIf = "nombre.errors?.['minlength']">
                El nombre tiene que contener como minimo 4 caracteres
              </div>
              <div *ngIf = "nombre.errors?.['maxlength']">
                El nombre tiene que tener como maximo 10 caracteres
              </div>
            </div>

          </div>
          <div class="from-group">
            <label>Estado de Categoria</label>
            <input
              type="text"
              class="form-control"
              id="estado"
              [(ngModel)]="categoria.estado"
              name="estado"

              required
              minlength="3"
              maxlength="50"
              #estado = "ngModel"
              placeholder="select True o False"
            />
            <div class="alert alert-danger" *ngIf= "estado.invalid && (estado.dirty || estado.touched)">
              <div *ngIf = "estado.errors?.['required']">
                Digite su nombre por favor
              </div>
              <div *ngIf = "estado.errors?.['minlength']">
                El nombre tiene que contener como minimo 4 caracteres
              </div>
              <div *ngIf = "estado.errors?.['maxlength']">
                El nombre tiene que tener como maximo 10 caracteres
              </div>
            </div>
          </div>
            <button
            class="btn btn-outline-light"
            style="margin: 10px"
            [disabled]= "!categoriaForm.form.valid"
          >
            Guardar
          </button>
          <!-- <button class="btn btn-danger" style="margin: 10px">Cancelar</button> -->
        </form>
      </div>
    </div>
  </div>
</div>
<!-- </ng-template> -->
