<div class="container-fluid">
    <!-- style="display: grid; grid-template-columns: 1fr 2fr; background-color: white;" -->
  
    <h1 style="text-align: center">Listado de Insumoss</h1>
    <body>
        <div class="container clearfix hidden-md-up">
        <table class="table table-striped">
          <thead
            class="text-center table-dark"
          >
            <tr>
              <th>id</th>
              <th>Cod</th>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center"  *ngFor= "let insumos of insumos">
              <td>{{insumos.idInsumo}}</td>
              <td>{{insumos.cod_insumo}}</td>
              <td>{{insumos.nom_Insumo}}</td>
              <td>{{insumos.descripcion_Insumo}}</td>
              <td>{{insumos.estado_Insumo}}</td>

              <td>
                <button type="button" class="btn btn-warning" (click)= "editarInsumos(insumos.idInsumo)" >
                  Editar
                </button>
                <button class="btn btn-danger" style="margin-left: 10px" (click)= "eliminarInsumos(insumos.idInsumo)">
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </body>
  </div>
  